*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    box-shadow: 0lvw;
    padding-bottom: 15px;
    left: 0px;
    width: 100vw;
    background-color: white;
    z-index: 999;
    position: relative;
    position: fixed !important;
  
   
}
.div1{
    
    padding-right: 200px;
    font-size: x-large;
    font-weight: bold;
}
.div1 span{
    color:red;
}
a{
    text-decoration: none;
    color: grey;
}
nav  a:hover{
color: black;
border-bottom: 2px solid rgb(101, 5, 5);
}
#avent{
    border: none;
    color: grey;
}
.button1{
    background-color:red;
    border: none;
    border-radius: 50px;
    padding: 20px;

    
}
.login{
    display:flex;
    flex-direction: column ;
    background-color: rgb(224, 25, 25);
    width: 300px;
    text-align: center;
    height: 159px;
    gap: 10px;
   position: absolute;
   right: 40%;
   top: 90px;
   display: none;
   padding: 40px;
  
}

.fa-xmark{
    position: absolute;
    right: 0%;
    top: 0%;
}
.login button{
   background-color: bisque;
   border: none;
   color: azure;
   padding: 5px;
   display: flex;
   position: absolute;
   right: 40%;
   margin-top: 2px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.containre1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 241, 241);
    gap: 150px;
   padding-top: 20vh;
  
}
.fa-circle-play{
    padding: 10px;
    color: red;
}
.first{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first h1{
    font-family: cursive;
}
.first p{
    font-size: x-large;
    color: grey;
}
.b1{
    background-color:red;
    border: none;
    border-radius: 25px;
    padding: 10px;
 
}
.b2{
     background-color: rgb(245, 241, 241);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}
.first .b2:hover{
    color: red;
}
.img1{
animation-name: douaa;
animation-duration: 3s;
position: relative;
animation-iteration-count: infinite;
}
@keyframes douaa{
    0%{
        margin-top: -5px;
    }
    50%{
        margin-top: 0px;
    }
    100%{
        margin-top: -5px;
    }
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 40px;
}
.first2 img{
width: 760px;
height: 480px;
position: relative;
bottom: 110px;
}
.first2{
    width: 780px;
    padding-left: 20px;
}
.last2{
    
    display: flex;
    flex-direction: column;
    color: grey;
    width: 900px;
}
.fa-circle-check{
    color: red;
    padding-right: 5px;
    padding: 15px;
}
.titre1{
    display: flex;
   flex-direction: column;
    padding-top: 20px;
    text-align: center;
    font-family: cursive;
   
}
.div2{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid rgb(138, 135, 135);
    font-family: cursive;
    width:760px;
    padding: 20px;
    position:relative;
    bottom: 100px;
   

}
.laste{
    height: 80vh;
}

.ime-carousel{
    width: 400px;
  
}

.posit{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 200px;
    left: 35%;
    font-size: 60px;
    width: 100px;
    
    
}
.containr4{
    display:flex;
    background-color: rgb(240, 238, 238);
    padding: 30px;
    gap: 20px;
}
.bg1{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    background-color:red;
    color: white;
    text-align: center;
    padding: 20px;
}
.b{
    color: white;
    width:fit-content;
  background-color:rgba(243, 221, 221, 0.317);
    border: none;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    left: 150px;
 
}
.bg{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
   justify-content: center;
   align-items: center;
}
.bg .icon:hover{
background-color: rgb(213, 153, 153);
}
.icon{
   background-color: rgb(242, 235, 234);
   border-radius: 50%;
   width: 90px;
   padding: 20px;
   color: rgb(184, 125, 125);
   
  
}

.bg p{
    color: grey;
}
.bag-img{
    background-image: url(../../stats-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 150px;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.obacity{
    width: 100%;
    height: 60vh;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.5;
    
}
.bag-img p{
color: gray;
}
.bag-img h2{
    font-size: 60px;
}
.TITRE{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
}
span{
    color: red;
}
.aa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px; 
    font-size: 20px;
}
.aa a{
    color: black;
    border-bottom: 2px solid rgb(190, 186, 186);
}
.aa a:hover{
border-bottom:2px solid red ;
}
.diner{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    font-family: cursive;
    color: gray;
    font-size: 30px;
}


.MENU1{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 80px;
   
}
.MENU1 img{
    width: 150px;
}
.MENU2{
display: flex;
justify-content: center;
text-align: center;
gap: 80px;
padding-top: 100px;
}
.MENU2 img{
    width: 150px;

}
.MENU1 h2{
    color: rgb(190, 15, 15);
    font-size: 30px;
}
.MENU2 h2{
    color: rgb(190, 15, 15);
     font-size: 30px;
}
/* carocel */

#carousel1{
    width: 100vw;
    background-color: gray;
    position: relative;
    overflow: hidden;
    position: fixed;
    top: 00px;
    z-index: 99999;
    display: none;
}
.carousel{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.slide{
   min-width: 80%;
   display: flex;
  
}
img{
    width: 100%;
    height: 100%;
}
.next{
    right: 10px;
    position: absolute;
    top: 45%;
    border: none;
    color: black;
}
.prev{
    left: 10px;
     position: absolute;
    top: 45%;
     border: none;
}
.fa-x{
    position:absolute;
    right: 10px;
    font-size: 30px;
    z-index: 999999898989;
    color:white;
   
}
/* footer */
footer{
background-color: rgb(33, 33, 46);
margin-top: 100px;

}
.footer1{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px  solid grey;
    color: white;
   
}
.footer2{
    gap: 5px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
}
.F1{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.F1 i{
color: red;
}
.F2{
   display: flex;
   gap: 5px;
   text-align: center;
   color: gray; 
   gap: 10px;
}
.parent{
    width: 70vw;
    height: 70vh;
    margin-left: 166px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    padding-inline: 25px;
    padding-top: 30px;
    gap: 40px;
    box-shadow: 1px 1px 1px 1px;
    border: none;
    

}
.tchald{
    display: flex;
    gap: 15px;
    
}
.parent input{
width: 425px;
padding: 15px;
}
.tchald2 input{
width: 850px;
padding: 30px;
display: flex; 
gap: 50px;
}
.c{
display: flex;
justify-content: center;
align-items: center;
width: 130px;
position: relative;
left: 350px;
padding: 5px;
background-color: red;
border: none;
}
.parnt3{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
padding-bottom: 50px;
margin-right: 90px;

}
.F3{
    background-color:white;
    width: 400px;
    height: 80px;
    padding-top: 20px;
    padding-left: 70px;
    box-shadow: 1px 1px 1px 1px;
    color: gray;
}
.parnt3 i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 7%;
    background-color: rgb(193, 33, 33);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 20px;
    
  

}
.map{
    padding: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(37, 36, 36);
    font-family: cursive;
}
iframe{
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    
}
/* carousel5 */
.book{
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:cursive ;
   
}
.container7{
    background-color:rgb(220, 215, 215);
    width: 70vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
.left{
    width: 350px;
    height: 400px;
}
.input-row{
    display: flex;
    gap: 20px;
}

.reservation-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
   
}
.btn{
    background-color: red;
    border: none;
    padding: 5px;
}
.reservation-form input{
padding: 5px;
width: 100%;
}
.input-row1{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;

}
.login1{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
}
/* chef */
.chefs{
    padding-top: 100px;
    background-color: white;

}
.centent-chef{
    display: grid;
    grid-template-columns: repeat(3,30vw);
    gap: 10px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.centent-chef div{
    width: 90%;
    height: 80vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    font-family: roboto;
    text-align: center;
    color: rgba(122, 122, 122, 0.562);
    background-color: white;
    transition: 0.3s;

}

.centent-chef div:hover{

    scale: 1.1;
}

.centent-chef img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}
.centent-chef h2{
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.651);
    padding-bottom: 10px;
}
.centent-chef p{
    font-style: italic;
    padding-top: 10px;
    color: #37373fa9;
    padding-inline: 20px;
}
.tsec{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:cursive ;
    padding-bottom: 100px;
}
.carousel-container{
    display: block;
}



 

img {vertical-align: middle;}

/* Slideshow container */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.padding{
    padding-bottom: 50px;
}





/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





/* hhhh */
/* .slideshow-container{
    width: 100%;
    margin-top: 30px;
    margin-top: 100px;
    height: 50vh;


    } */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  overflow:hidden;
  width: 150vw;
  height: 60vh;
  padding-top: 100px;
  margin-left: 250px;
}
.parentcontcaro{
    display: flex;
    gap: 70px;
    align-items: center;
    width: 60vw;
    height: 40vh;

}
.parentcontcaro img{
    border-radius: 50% ;
    width: 200px;
    
}
.contentcaro{
    border-left: 3px solid #ce1212;
    padding-left: 6vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: roboto;
    line-height: 30px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
}
.contentcaro svg{
    color: #ce1212a2;
}
.contentcaro h4{
    font-family: amatic;
    font-size: 20px;
}
.contentcaro p {
    font-family: amatic;
    font-size: 15px;
    color: #37373f69;
}
.stars svg {
    color: #ffc107;;
}
.carousel-container1{
    width: 100vw;
    position: relative;
    overflow: hidden;
    height: 40vh;
}

.carousel1{
    display: flex;
    height: 60vh; 
    transition: 2s; 
}

.slide{
   min-width: 100%;
}

